/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: #0462c1;
  color: #fff !important;
}
.p-3 {
  padding: 1rem !important;
}

.w-50 {
  width: 50% !important;
}
.mw-100 {
  max-width: 100% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #0462c1;
}

.h2,
h2 {
  font-size: 2rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
